@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-bar-item {
  @apply bg-black text-amber-100 text-2xl rounded-md py-2 px-4;
}

.options-btn {
  @apply p-2 border-2 border-slate-500 rounded-3xl w-24 text-center
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
