.smaller-card {
    max-width: 150px;
}

.card .card-img-top {
    width: 150px;
    height: 150px;
    border-bottom: 1px solid gray;
}

.card .card-body {
    padding: 5px;
    text-align: center;
}

.card .card-body h6 {
   margin: 0;
}