.files-list_container {
  min-height: 75vh;
  border: 2px solid black;
  padding: 20px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
.file_container {
  margin: 20px;
  padding: 10px;
  width: 225px;
  height: 225px;
  border: 1px solid black;
  border-radius: 20px;
}

.file_container p {
  margin: 15px;
}

.file_container img {
  width: 100px;
  height: 100px;
}

.file_name {
  font-size: 30px;
}

.file_updatedAt {
  font-size: 15px;
} */
